{% extends 'base.html' %}
{% load static %}

{% block content %}
        <section class="fdb-block" style="background-image: url({% static '/imgs/bg_4.svg' %})">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-8">
                    <div class="fdb-box">
                        <p>Nous t'avons envoyé par email les instructions pour changer ton mot de passe, si un compte est liée a l'email entrée.
                        Tu devrais reçevoir un message sous peu.</p>
                        <p>Si tu n'as pas reçu d'email, sois sur qu'un compte est bien liée a l'email entrée et regarde dans ton dossier spam.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
