{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="fdb-block" style="background-image: url({% static '/imgs/bg_4.svg' %})">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-8">
                    <div class="fdb-box">
                        {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>Ce lien est invalide, possiblement car il a déjà été utilisé.
        Redemande une nouvelle réinitialisation de Mot de Passe.
    </p>
  {% endif %}
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}