{% extends "base.html" %}
{% load static %}

{% block title %}{{ forum.title }}{% endblock %}

{% block content %}

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-9"></div>
      <div class="col-md-3">
      Welcome,
      <a href="#" class="underline">{{ user.username }}</a>
    </div>
  </div>
  <br>
    <div class="row">
    <div class="col-md-12">
<ul class="breadcrumb">
  <li><a href="{% url "forum:forum-index" %}">Home</a></li>
</ul>
  </div>
</div>
  </div>



<!-- Threads  -->
{% if topics %}
<div class="container-fluid">
<div class="row">
  <div class="col-md-12 col-md-8 col-md-offset-2">
  <br>
  <br>
    <ul class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between" >
      <h5 class="col-md-7">{{ forum.title }}</h5>
      <div class="col-md-1" align="center">Réponses</div>
      <div class="col-md-1" align="center">Auteur</div>
      <div class="col-md-2" align="center">Dernière réponse</div>
    </div>
  </div>
  {% for topic in topics %}

    <a href="{% url 'forum:topic-detail' topic.pk %}" class="list-group-item list-group-item-action flex-column align-items-start" >
    <div class="d-flex w-100 justify-content-between" style="height: 0px; padding: 0px 0px 80px 0px;">
      <h5 class="col-md-7"><br>{{ topic.title }}<br></h5>
      <div class="col-md-1" align="center"><br>{{ topic.num_replies }}</div>
      <div class="col-md-1" align="center"><br>{{ topic.creator }}</div>
      <div class="col-md-2" style="height: 0px; padding: 24px 0px 0px 14px;" align="center">{{ topic.last_post.shorty|linebreaksbr }}</div>
    </div>
  </a>
  {% endfor %}
  </ul>
</div>
  </div>
</div>
    {% endif %}

<!-- Next/Prev page links  -->
{% if topics.object_list and topics.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if topics.has_previous %}
            <a href= "?page={{ topics.previous_page_number }}">previous &lt;&lt; </a>
        {% endif %}

        <span class="current">
            &nbsp;Page {{ topics.number }} of {{ topics.paginator.num_pages }}
        </span>

        {% if topics.has_next %}
            <a href="?page={{ topics.next_page_number }}"> &gt;&gt; next</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}