{% extends 'base.html' %}
{% load static %}

{% block title %}forum{% endblock %}

{% block content %}
    <br>
<br>


<div class="container">
  <div class="row">
    <div class="col-md-9"></div>
      <div class="col-md-3">
      Welcome,
      <a href="#" class="underline">{{ user.username }}</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  </li>
</ul>
  </div>
</div>
  </div>




<div class="container">
<div class="row">
         <div class="col-md-12 col-md-10 col-md-offset-1" >
           <h2 align="center">Bienvenue sur le forum Instacode</h2>
  </div>
</div>
</div>

<br>

<div class="form-group" style="padding: 0px 40px">
  <form role="search" method="get" action="">
      <div id="custom-search-input">
        <div class="row">
          <div class="col-md-9">
            <input class="search-query form-control" placeholder="Search for topic text author" type="text" name="q" value="{{ request.GET.q }}">
            </div>
          <div class="col-md-3" style="padding: 1px 0px">
            <button class="btn" type="submit">Submit</button>
            </div>

            </div>
  </div>
  </form>
</div>



<br>

<br>


<div class="container-fluid">
<div class="row">
  <div class="col-md-12 col-md-8 col-md-offset-2">
    <ul class="list-group">
  <li class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="col-md-7">Forum1</h5>
      <div class="col-md-2" align="center">Thread</div>
      <div class="col-md-2" align="center">Freshness</div>
    </div>
  </li>
    {% for forum in forums %}
        {% if forum.categorie == "Forum1" %}
    <a href="{% url 'forum:forum-detail' forum.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-80 justify-content-between" >
      <div  class="col-md-7" style="height: 20px; padding: 10px 0px 70px 0px;"><h5>{{ forum.title }}</h5>Description</div>
      <div class="col-md-2" align="center"><br>{{ forum.num_posts }}</div>
      <div class="col-md-2" align="center">{{ forum.last_post.short|linebreaksbr }}</div>
    </div>
  </a>
            {% endif %}
{% endfor %}
</ul>
  </div>
</div>
</div>

<br>
<br>



<div class="container-fluid">
<div class="row">
  <div class="col-md-12 col-md-8 col-md-offset-2">
    <ul class="list-group">
  <li class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="col-md-7">Archive</h5>
      <div class="col-md-2" align="center">Thread</div>
      <div class="col-md-2" align="center">Freshness</div>
    </div>
  </li>
    {% for forum in forums %}
        {% if forum.categorie == "Archive" %}
    <a href="{% url 'forum:forum-detail' forum.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-80 justify-content-between" >
      <div  class="col-md-7" style="height: 20px; padding: 10px 0px 70px 0px;"><h5>{{ forum.title }}</h5>Description</div>
      <div class="col-md-2" align="center"><br>{{ forum.num_posts }}</div>
      <div class="col-md-2" align="center">{{ forum.last_post.short|linebreaksbr }}</div>
    </div>
  </a>
            {% endif %}
{% endfor %}
</ul>
  </div>
</div>
</div>


<br>
<br>


{% endblock %}