{% extends 'base.html' %}
{% load static %}

{% block content %}

<br>


<div class="container">
  <div class="row">
    <div class="col-md-9"></div>
      <div class="col-md-3">
      Welcome,
      <a href="#" class="underline">{{ user.username }}</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
<ul class="breadcrumb">
  <li><a href="{% url "forum:forum-index" %}">Home</a></li>
  <li><a href="{% url 'forum:forum-detail' forum.pk %}" %}">{{ forum.title }}</a></li>
  <li>{{ topic.title }}</li>
  </li>
</ul>
  </div>
</div>
  </div>


<div class="container">
<div class="row">
         <div class="col-md-12 col-md-10 col-md-offset-1" >
           <h2 align="center">{{ topic.title }}</h2>
           <p align="center"><small>Discussion in '{{ forum.title }}' started by {{ topic.creator }}, {{ topic.created }}</small></p>
  </div>
</div>
</div>




<div class="container-fluid">
  <div class="col-md-12 col-md-8 col-md-offset-2">
    <div style="margin: 10px 10px 20px 10px">
      <table border-collapse="collapse" class="table" style="background-color:white">
    <tr>
        <td style="width:15%;text-align:center"><p class="smaller"><img src="https://image.afcdn.com/story/20150219/l-alimentation-des-petits-chiens-598467_w767h767c1cx2115cy1005.jpg" alt="PHOTO DE THYAKUZA" width="150" height="150" hspace="20" vspace="15" class="rounded">
          <br>
          <font size="3">{{ topic.creator }}</font><br>
          <small>Membre</small>
          </p>
          <mark><small> Original Poster </small></mark></td>
      <td style="padding: 20px 70px 15px 0px;"> {{ topic.description }}<br><br><small>{{ topic.created }}</small><span class="droite"><div class="btn-group btn-group-sm">
        {% if forum.categorie == 'Archive' and user.is_superuser %}
        <a href="{% url 'forum:delete' forum.id topic.pk %}" type="button" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
        {% endif %}
        {% if topic.creator.id == user.id and forum.categorie != 'Archive' %}
        <a href="{% url 'forum:update' topic.pk %}" type="button" class="btn btn-primary">Update</a>
        {% endif %}
        {% if user.is_superuser or topic.creator.id == user.id %}
        {% if forum.categorie != 'Archive'  %}
        <a href="{% url 'forum:delete' forum.id topic.pk %}" type="button" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
        {% endif %}
        {% endif %}
        {% if forum.categorie != 'Archive' and user.is_superuser %}
        <a href="{% url 'forum:archive' topic.pk %}" type="button" class="btn btn-warning">Archive</a>
        {% endif %}
</div></span></td>
    </tr>













{% for post in posts.object_list %}
      <tr>
        <td style="width:15%;text-align:center"><p class="smaller"><img src="https://image.afcdn.com/story/20150219/l-alimentation-des-petits-chiens-598467_w767h767c1cx2115cy1005.jpg" alt="PHOTO DE THYAKUZA" width="150" height="150" hspace="20" vspace="15" class="rounded">
          <br>
          <font size="3">{{ post.creator }}</font><br>
          <small>Membre</small>
          </p>
</td>
        <td  style="padding: 20px 70px 15px 0px;">{{ post.body }}<br><br><small>{{ post.created }}</small><span class="droite"><div class="btn-group btn-group-sm">
        {% if post.creator.id == user.id and topic.closed == False %}
        <a href="{% url 'forum:updatepost' topic.id post.pk %}" type="button" class="btn btn-primary">Update</a>
        <a href="{% url 'forum:deletepost' topic.id post.pk %}" type="button" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
        {% endif %}
        {% if user.is_superuser and topic.closed == True %}
        <a href="{% url 'forum:deletepost' topic.id post.pk %}" type="button" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
        {% endif %}

</div></span></td>
      </tr>
{% endfor %}
  </table>
    </div>
  </div>



</div>

{% if topic.closed == False %}
<div class="form-group" style="padding: 0px 40px">
<form method="post" action="">
  {% csrf_token %}
  <textarea class="form-control" rows="10" id="comment" name="body"></textarea>
  <br>
  <button class="btn center-block" type="submit">Add a New Comment</button>
  <form>
</div>
{% endif %}



{% if posts.object_list and posts.paginator.num_pages > 1 %}
<div class="container">
<div class="row">
<div class="col-md-12 col-md-10 col-md-offset-1" >
<div class="pagination">
    <span class="step-links">
        <div class="btn-group btn-group-sm">
        {% if posts.has_previous %}

            <a type="button" class="btn btn-primary" href="?page={{ posts.previous_page_number }}">< Précédent</a>
            {% if  posts.previous_page_number != 1 %}
                <a type="button" class="btn btn-primary" href="?page=1">1</a>
                <a type="button" class="btn btn-primary" href="?page={{ posts.previous_page_number }}">{{ posts.previous_page_number }}</a>

            {% else %}
                <a type="button" class="btn btn-primary" href="?page=1">1</a>
            {% endif %}
        {% endif %}


        <span class="current">
        </span>
        {% if posts.has_next %}
            {% if  posts.next_page_number != posts.paginator.num_pages %}
                <a type="button" class="btn btn-primary" href="?page={{ posts.next_page_number }}">{{ posts.next_page_number }}</a>
                <a type="button" class="btn btn-primary" href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a>
            {% else %}
                <a type="button" class="btn btn-primary" href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a>
            {% endif %}
            <a type="button" class="btn btn-primary" href="?page={{ posts.next_page_number }}">Suivant ></a>
        {% endif %}
        </div>
    </span>
</div>
    </div>
    </div>
    </div>

{% endif %}


{% endblock %}

