{% extends 'base.html' %}
{% load static %}

{% block content %}


  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Mentions Légales</h1>
          <p class="text-h3">
            Nom de l’association : InstaCode<br>
            Adresse : 55 rue Edgar Quinet, 44100 Nantes<br>
            Numéro de téléphone : 0652501914<br>
            Directeur de la publication : Thibault Lafargue<br>
            Hébergeur : KVCHosting
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
