{% extends 'Blueprint_offline_user.html' %}
{% load static %}

{% block body %}

  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>C'est quoi InstaCode ?</h1>
          <p class="text-h3">InstaCode c'est une association qui développe des ressources éducatives d'initiation à la programmation en Français. Le but ?</p>
          <br>
          <p class="text-h3">Initier</p>
          <h2><b>1000 Français</b></h2>
          <p class="text-h3">à la programmation en 2018</p>
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Pourquoi je lance InstaCode ?</h1>
          <p class="text-h3">Salut, moi c'est Thibault. En début de 2017, après deux ans en sciences informatiques au Canada et aucune expérience pratique acquise en programmation, je décide de me former moi-même grâce à un cursus open source : FreeCodeCamp. En un mois je réalise <a href="https://codepen.io/tlafargue/full/GrjBLb/">une dizaine de mini-projets</a>. C'est cette réussite en dehors du sytème éducatif traditionnel qui me convainc que l'éducation de demain est en ligne, gratuite, et ouverte à tous.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-5">
          <p class="text-h3">De retour en France, je constate que le niveau d'anglais de la majorité d'entre nous est un obstacle pour se former en programmation informatique en se servant de ressources gratuites comme FreeCodeCamp. Cette intuition est confirmée par l'Indice de compétence en anglais EF qui place la France 22ème sur 27 pays evalués en Europe. Je fait donc le choix en début 2018 de créer InstaCode pour proposer un cursus d'initiation à la programmation en Français gratuit et ouvert à tous.</p>
        </div>
        <div class="col-12 col-md-6 ml-md-auto mt-4 mt-md-0">
          <img alt="image" class="img-fluid" src="../imgs/EF_EPI_2017.png">
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 mr-md-auto mt-4 mt-md-0">
          <img alt="image" class="img-fluid" src="../imgs/think_python.png">
        </div>
        <div class="col-12 col-md-6 col-lg-5">
          <h1>Qu'est-ce qu'InstaCode propose pour apprendre à coder ?</h1>
          <p class="text-h3">Dans un premier temps je produis une série de vidéos suivant la structure de <a href="http://greenteapress.com/wp/think-python-2e/">Think Python 2ed</a>, un texte destiné à l'apprentissage de la programmation pour les débutants. Cette série de vidéos sera prochainement disponible sur ce site et sera la première itération du cursus d'InstaCode que je ferai évoluer avec les retours des étudiants.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
          <p class="text-h3">
            Inscris toi pour être notifié au lancement de la première version d'InstaCode.
          </p>

          <p class="mt-5 mt-sm-4">
            <a class="btn" href="/inscription">S'inscrire</a>
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}