{% extends 'base.html' %}
{% load static %}



{% block title %}{{ chapitre.titre }}{% endblock %}

{% block content %}
    <section class="fdb-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-md-8 text-center">
                    <div class="text-left"><a href="{% url 'cours:cours-detail' chapitre.cours.id %}">{{ chapitre.cours.titre }} 📄</a></div>
                    <h1>{{ chapitre.titre }}</h1>
                    {{ chapitre.intro |safe }}
                    <div class="embed-responsive embed-responsive-16by9">
                        <div id="player">
                            {% include 'ytplayer.html' with video_name=chapitre.titre video_id=chapitre.video_id %}
                        </div>
                    </div>
                    <br>
                    <div class="text-left">
<form method="POST" action="">
        {% csrf_token %}
       {% for exercice in chapitre.exercice_set.all %}
             <p class="text-h3"><b>{{ exercice.titre }}</b></p>{{ exercice.probleme |safe }}<br>
           {% for question in exercice.question_set.all %}
               <p>{{ question.question }}</p><br>
               {% if question.is_multiplechoice %}
                   <p>Attention, il y a plusieurs reponses a cette question</p>
               {% for choice in question.choice_set.all %}
                   <input type="checkbox" name="{{ choice.id }}" value="{{ choice.id }}"> {{ choice.proposition }}<br>
                   {% for answer in answers %}
                   {% if answer.show_answer == True %}
                           {% if answer.choice.id == choice.id %}
                               {% if answer.answer == choice.goodanswer and answer.answer == True %}
                                    <p>Correct</p>
                               {% endif %}
                               {% if answer.answer != choice.goodanswer and answer.answer == True %}
                                    <p>Wrong</p>
                               {% endif %}
                               {% if choice.goodanswer == True and answer.answer == False %}
                                   <p>That was one of the good answer</p>
                                {% endif %}
                           {% endif %}
                       {% endif %}
               {% endfor %}
               {% endfor %}
               {% else %}
               {% for choice in question.choice_set.all %}
                   <input type="radio" name="{{ question.id }}" value="{{ choice.id }}"> {{ choice.proposition }}<br>
                   {% for answer in answers %}
                       {% if answer.show_answer == True %}
                           {% if answer.choice.id == choice.id %}
                               {% if answer.answer == choice.goodanswer and answer.answer == True %}
                                    <p>Correct</p>
                               {% endif %}
                               {% if answer.answer != choice.goodanswer and answer.answer == True %}
                                    <p>Wrong</p>
                               {% endif %}
                               {% if choice.goodanswer == True and answer.answer == False %}
                                   <p>That was the good answer</p>
                                {% endif %}
                               {% endif %}
                       {% endif %}
                   {% endfor %}
               {% endfor %}
               {% endif %}
               {% endfor %}
       {% endfor %}
    <button type="submit">Submit your answers</button>
</form>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <h3><a href="{% url 'cours:reset' chapitre.id %}">RESET</a></a></h3>

{% endblock %}
