{% extends 'base.html' %}
{% load static %}

{% block title %}{{ chapitre.titre }}{% endblock %}

{% block content %}

    <section class="fdb-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-md-8 text-center">
                    <div class="text-left"><a href="{% url 'cours:cours-detail' chapitre.cours.id %}">{{ chapitre.cours.titre }} 📄</a></div>
                    <h1>{{ chapitre.titre }}</h1>
                    {{ chapitre.intro |safe }}
                    <div class="embed-responsive embed-responsive-16by9">
                        <div id="player">
                            {% include 'ytplayer.html' with video_name=chapitre.titre video_id=chapitre.video_id %}
                        </div>
                    </div>
                    <br>
                    <div class="text-left">
                        {% for exercice in chapitre.exercice_set.all %}
                            <p class="text-h3"><b>{{ exercice.titre }}</b></p>{{ exercice.probleme |safe }}<br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
