{% extends "base.html" %}
{% load static %}

{% block title %}Inscris toi !{% endblock %}

{% block content %}

    <section class="fdb-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="row">
                        <div class="col text-center">
                            <h1>Inscris toi pour commencer à coder 💻</h1>
                            <p class="text-h3">Tu pourras accéder à l'espace cours immédiatement 🚀</p>
                        </div>
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row align-items-center">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Prénom" name="first_name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Pseudo" name="username">
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input type="password" class="form-control" placeholder="Mot de passe" name="password1">
                            </div>
                            <div class="col">
                                <input type="password" class="form-control" placeholder="Confirmer mot de passe" name="password2">
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Email" name="email">
                            </div>
                        </div>

                        <div class="row align-items-center mt-4">
                            <div class="col mt-2">
                                <label>Je suis intéressé(e) par InstaCode</label>
                            </div>
                            <div class="col">
                                <select class="form-control" name="interest">
                                    <option>par curiosité</option>
                                    <option>pour créer une application web/mobile</option>
                                    <option>pour renouveler mes compétences</option>
                                    <option>pour devenir développeur</option>
                                </select>
                            </div>
                        </div>

                        {% if form.errors %}
                            <div class="row justify-content-start mt-4">
                                <p>{{ form.errors }}</p>
                            </div>
                        {% endif %}
                        <div class="row justify-content-start mt-4">
                            <div class="col text-center">
                                <input class="btn mt-4" type="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
