{% extends "Blueprint_offline_user.html" %}
{% block body %}

    <section class="fdb-block" style="background-image: url(./imgs/bg_4.svg)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-left">
          <div class="fdb-box">
              <div class="row">
              <div class="col">
                <h3>Tu n'as pas de compte? <a href="{% url 'register' %}">Inscris-toi</a> </h3>
                <h1>Connexion</h1>
                <p class="text-h3">Saisis ton email et ton mot de passe pour accéder aux cours InstaCode.</p>
              </div>
            </div>
              <form role="form" action="" method="POST" enctype="multipart/form-data" autocomplete="on">
            {% csrf_token %}


            <div class="row">
              <div class="col mt-4">
                <input type="email" class="form-control" placeholder="Email" name="email">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <input type="password" class="form-control" placeholder="Mot de passe" name="password">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col" align="center">
                <button class="btn" type="submit">Connexion</button>
              </div>
            </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}