{% extends "base.html" %}
{% block content %}

<h1>You are logged in</h1>

<a href={% url 'logout' %}>Logout</a>


<h1><a href="{% url 'home' %}">Go home</a> </h1>
<h2>Registet</h2>


<form role="form" action="" method="POST" enctype="multipart/form-data" autocomplete="on">
    {% csrf_token %}

  Username:<input type="text" name="username"><br>
  Password:<input type="password" name="password"><br>
  E-mail: <input type="email" name="email" autocomplete="off"><br>
  <button type="submit">submit</button>

</form>

{% endblock %}
